body{
    font-family: "Montserrat";
    margin: 0px;
    padding: 0px;
    background-color: rgb(75, 75, 75);
}

/* ------------------Basic CSS------------------ */
/* adjusting display */
.disp-inlb-pad-7{
    display: inline-block;
    padding: 7%;
}

/* align center */
.align-center{
    text-align: center;
}

/* setting width */
.wid-100{
    width: 100%; 
}

/* margin auto */
.margin-auto{
    margin: auto;
}

/* font weights */
.font-mid{
    font-weight: 600;
}

.font-bold{
    font-weight: bold;
}

.font-bolder{
    font-weight: bolder;
}

/* ------------------Landing page home screen------------------ */
.home{
}

.navbar{
    padding: 0px;
}


.nav-item{
    margin-left: 16%;
    font-size: larger;
}

/* ----------------------My Timeline---------------------------- */
.about-me{
    background-color: #EDF1D6;
    overflow-x: hidden;
}


/* -----------------------My previous works----------------------- */
.work{
  margin: 0;
  padding: 3rem 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #222831, #393E46);
  min-height: 100vh;
}

.work-heading{
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    color: #00ADB5;
}

article {
    --img-scale: 1.001;
    --title-color: #222831;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #EEEEEE;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 1.5rem;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #00ADB5;
  }
  
  article a:focus {
    outline: 1px dotted #00ADB5;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #00ADB5;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

/* --------------------------Reviews--------------------------- */
.reviews{
    background-color: #EEEEEE;
    padding: 7% 15%;
}

.review-text{
    width: 80%;
    margin-bottom: 5%;
}

.review-container{
    padding: 1rem 0rem;
}

.reviewer{
    margin-top: 6rem;
    width: 40%;
}

.round-image{
    width: 5rem;
    border-radius: 100%;
    margin-bottom: 2%;
}

/* cubes animation */
.cube {
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 12px;
    height: 12px;
    border: solid 1px #393E46;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 14s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: #393E46;
}
.cube:nth-child(2) {
    animation-delay: 8s;
    left: 15vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 6s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 10s;
    left: 50vw;
    top: 5vh;
}
.cube:nth-child(5) {
    animation-delay: 16s;
    left: 78vw;
    top: 10vh;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
   }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
   }
}

.mar-top{
  margin-top: .9rem;
}

/* -----------------form------------------- */

.contact-me{
  background-image: linear-gradient(225deg, #222831, #393E46);
  color: #00ADB5;
}


/* buttons */
.submit-btn{
    margin-top: 10%;
    margin-right: 20%;
    background-color: rgb(232, 241, 234);
}

.reset-btn{
    margin-top: 10%;
    background-color: rgb(238, 229, 229);
}

.row{
    margin: 0px;
}

/* -----------------FOOTER------------------- */

/* main */
.footer{
    background-color: #EEEEEE;
    border: 2px solid #EEEEEE;
    text-align: center;
}

.list-inline{
    margin-top: 1rem;
    text-align: bottom;
}

.list-inline-item a{
    color: #222831;
    margin-right: 2rem;
    font-size: 100%;
}

/* socials */
#linkedin:hover{
    color: #0077b5;
    text-decoration: none;
}

#facebook:hover{
    color: #4267B2;
    text-decoration: none;
}

#instagram:hover{
    color: #E1306C;
    text-decoration: none;
}

/* copyright */
.copyright{
    display: inline-block;
}
