body{
    font-family: "Montserrat";
    margin: 0px;
    padding: 0px;
    background-color: rgb(75, 75, 75);
}

/* ------------------Basic CSS------------------ */

/* color 1 */
.color-azure{
    color: azure;
}

/* color 2 */
.color-gr{
    background-color: rgb(108, 121, 90);
}

/* adjusting display */
.disp-inlb-pad-7{
    display: inline-block;
    padding: 7%;
}

/* align center */
.align-center{
    text-align: center;
}

/* setting width */
.wid-100{
    width: 100%; 
}

/* margin auto */
.margin-auto{
    margin: auto;
}

/* font weights */
.font-mid{
    font-weight: 600;
}

.font-bold{
    font-weight: bold;
}

.font-bolder{
    font-weight: bolder;
}

/* ------------------Landing page home screen------------------ */
.home{
}

.navbar{
    padding: 0px;
}


.nav-item{
    margin-left: 16%;
    font-size: larger;
}

/* ----------------------My Timeline---------------------------- */
.about-me{
    background-color: #f5f4f4;
    overflow-x: hidden;
}


/* -----------------------My previous works----------------------- */
.work{
    padding: 7% 5% ;
    margin: center;
    color: rgb(203, 218, 218);
}

.work-heading{
    margin-bottom: 10%;
    font-size: xxx-large;
}

.cards-container{
    background-color: rgb(4, 0, 255);
    text-align: center;
}

.card{
    /* background-color: rgb(255, 253, 240); */
    border-radius: 4%;
    display: inline-block;
    height: 40rem;
    width: 30rem;
}


.card-detail{
    margin-top: 12rem;
}

.icon{
    width: 8rem;
    margin-bottom: 6%;
}

.label-card{
    font-size: 4rem;
    color: #30afe1;
}

/* --------------------------Reviews--------------------------- */
.reviews{
    background-color: #f5f4f4;
    padding: 7% 15%;
}

.review-text{
    width: 80%;
    margin-bottom: 5%;
}

.review-container{
    padding: 8rem 0rem;
}

.reviewer{
    width: 40%;
}

.round-image{
    width: 5rem;
    border-radius: 100%;
    margin-bottom: 2%;
}

/* cubes animation */
.cube {
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 12px;
    height: 12px;
    border: solid 1px rgb(155, 142, 142);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 14s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: rgb(155, 142, 142);
}
.cube:nth-child(2) {
    animation-delay: 8s;
    left: 15vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 6s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 10s;
    left: 50vw;
    top: 5vh;
}
.cube:nth-child(5) {
    animation-delay: 16s;
    left: 78vw;
    top: 10vh;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
   }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
   }
}


/* buttons */
.submit-btn{
    margin-top: 10%;
    margin-right: 20%;
    background-color: rgb(232, 241, 234);
}

.reset-btn{
    margin-top: 10%;
    background-color: rgb(238, 227, 227);
}

.row{
    margin: 0px;
}

/* -----------------FOOTER------------------- */

/* main */
.footer{
    background-color: #f5f4f4;
    border: 2px solid azure;
    text-align: center;
}

.list-inline{
    margin-top: 15px;
    text-align: bottom;
}

.list-inline-item a{
    color: grey;
    margin-right: 2rem;
    font-size: 100%;
}

/* socials */
#linkedin:hover{
    color: #0077b5;
    text-decoration: none;
}

#facebook:hover{
    color: #4267B2;
    text-decoration: none;
}

#instagram:hover{
    color: #E1306C;
    text-decoration: none;
}

/* copyright */
.copyright{
    display: inline-block;
}
